#textdomain wesnoth-TPT

[scenario]
	{GSCENARIO}

	id=cashing_out_03_new_masts
	name= _ "New Masts"
	map_data="{LD maps/pines.map}"

	{DEFAULT_MUSIC_PLAYLIST}
	{DEFAULT_SCHEDULE_DAWN}

	victory_when_enemies_defeated=no
	{NEW_GOLD_CARRYOVER 40}

	next_scenario=cashing_out_04_camp
	turns=35

	{COMMON_DEATHS}

	[side]
		save_id=player
		side=1
		controller=human
		team_name=Friendly
		user_team_name=_ "Paradise"

		gold=150

		{JOHN}

		fog=yes
	[/side]

	[side]
		side=2
		controller=ai

		team_name=Enemy1
		user_team_name= _ "The Forest"

		gold=100

		type=Wose Shaman
		recruit=Wose
		name=_ "Ancient Tree"
	[/side]

	[side]
		side=3
		controller=ai

		team_name=Enemy2
		user_team_name= _ "East Trolls"

		gold=100

		type=Troll
		recruit=Troll Whelp
	[/side]

	[side]
		side=4
		controller=ai

		team_name=Enemy3
		user_team_name= _ "West Trolls"

		gold=100

		type=Troll Rocklobber
		recruit=Troll Whelp
	[/side]

	[side]
		side=5
		hidden=true

		team_name=Enemy4
		user_team_name= _ "Undead"
	[/side]

	[event]
		name=prestart

		{CREATE_OR_RECALL Martin {MARTIN}}
		{CREATE_OR_RECALL Balur {BALUR}}
	[/event]

	[event]
		name=start

		[modify_unit]
			[filter]
				side=1
				[not]
					race=mechanical
				[/not]
			[/filter]
			[variables]
				recall_on_land=yes
			[/variables]
		[/modify_unit]

		[tptmsg]
			speaker=Balur
			message= _ "Just to the north, on that cliff, there's a stand of ancient walking trees that would work for a new mast."
		[/tptmsg]

		[tptmsg]
			speaker=Martin
			message= _ "Alright. We won't be sailing anywhere the way the storm tore up our mast, so let's chop down the best and carry it back."
		[/tptmsg]

		[tptmsg]
			speaker=John
			message= _ "I don't like leaving the Miss Fortune for too long, eh."
		[/tptmsg]

		[tptmsg]
			speaker=Balur
			message= _ "It ain't too bad up here. The trees walk and trolls infest the mountains, but you've got enough gold and gear to fight them back I reckon."
		[/tptmsg]

		[objectives]
			[objective]
				condition=win
				description= _ "Cut down the ancient tree"
			[/objective]
			[objective]
				condition=lose
				description= _ "The ancient tree is cut down before you can reach it"
			[/objective]
			{COMMON_LOSSES}
			{CARRYOVER_OBJECTIVE 40 yes}
		[/objectives]
	[/event]

	[event]
		name=sighted

		[filter]
			side=5
		[/filter]

		[filter_second]
			side=1
		[/filter_second]

		[tptmsg]
			speaker=Balur
			message= _ "Watch out for the ghost. Some poor sap haunts this island. I had to sleep with my hands over my ears every night as she wailed into the moon."
		[/tptmsg]

		[tptmsg]
			speaker=John
			message= _ "I wonder how her journey ended here."
		[/tptmsg]

		[tptmsg]
			speaker=Balur
			message= _ "<i>shivers</i> 'most happened to me, boss."
		[/tptmsg]
	[/event]

	[event]
		name=sighted

		[filter]
			side=2
			canrecruit=yes
		[/filter]

		[filter_second]
			side=1
		[/filter_second]

		[message]
			side=2
			canrecruit=yes
			message= _ "Vagoroharowcamarabooum"
		[/message]

		[tptmsg]
			speaker=Balur
			message= _ "There it is. That walking tree."
		[/tptmsg]

		[tptmsg]
			speaker=Martin
			message= _ "By thunder, that'll be the finest mast that ever graced a galleon."
		[/tptmsg]

		[tptmsg]
			speaker=John
			message= _ "Hurry up boys, let's cut it down before the trolls get to it."
		[/tptmsg]
	[/event]

	[event]
		name=new turn
		first_time_only=no

		[if]
			[not]
				[have_unit]
					side=5
				[/have_unit]
			[/not]

			[then]
				[unit]
					type=Ghost
					side=5
					x,y=18,16
				[/unit]
			[/then]
		[/if]
	[/event]

	[event]
		name=turn 10

		[unit]
			side=3
			x,y=34,10
			type=Troll Shaman
		[/unit]

		[unit]
			side=4
			x,y=7,14
			type=Troll Shaman
		[/unit]

		[message]
			type=Troll Shaman
			message= _ "The forest groans. 's burn time."
		[/message]
	[/event]

	[event]
		name=die

		[filter]
			side=2
			canrecruit=yes
		[/filter]

		[filter_second]
			side=1
		[/filter_second]

		{END_VICTORY yes}
	[/event]

	[event]
		name=die

		[filter]
			side=2
			canrecruit=yes
		[/filter]

		[filter_second]
			[not]
				side=1
			[/not]
		[/filter_second]

		[tptmsg]
			speaker=Balur
			message= _ "They cut it down first!"
		[/tptmsg]

		{END_DEFEAT}
	[/event]

	[event]
		name=time over

		[tptmsg]
			speaker=John
			message= _ "Bagorrah! I see the enemy fleet returning! We took too long and our ship is defenseless without a new mast!"
		[/tptmsg]

		{END_DEFEAT}
	[/event]

	[event]
		name=victory

		[modify_unit]
			[filter]
				side=1
				[not]
					race=mechanical
				[/not]
			[/filter]
			[variables]
				recall_on_land=no
			[/variables]
		[/modify_unit]

		[tptmsg]
			speaker=Martin
			message= _ "Good work. This tree will become a fine mast."
		[/tptmsg]

		[tptmsg]
			speaker=John
			message= _ "Return to Missy Fortune, boys! We'll celebrate with a feast!"
		[/tptmsg]
	[/event]
[/scenario]
