#define SHIP_MISS_FORTUNE
	type=TPT Pirate Galleon
	id=Miss Fortune
	name=_ "Miss Fortune"
	canrecruit=yes

	role=flagship

	extra_recruit=TPT War Boat

	[filter_recall]
		[filter_wml]
			[variables]
				ship="Miss Fortune"
			[/variables]
			[or]
				[not]
					[variables]
						glob_on_ship=*
					[/variables]
				[/not]
			[/or]
		[/filter_wml]
	[/filter_recall]
#enddef

#define JOHN
	id=John
	name=_ "John Carewell"
	type=Sergeant
	extra_recruit=Poacher, Ruffian
	canrecruit=yes

	[+modifications]
		{TRAIT_QUICK}
		{TRAIT_PREPARED}

		[object]
			[effect]
				apply_to=new_ability
				[abilities]
					{ABILITY_MECHANIC}
				[/abilities]
			[/effect]
		[/object]
	[/modifications]

	{WCHAR_LOYAL}
	{IS_HERO}

	[filter_recall]
		[filter_wml]
			[variables]
				recall_on_land=yes
			[/variables]
		[/filter_wml]
	[/filter_recall]
#enddef

#define MARTIN
	id=Martin
	name=_ "Martin Tanner"
	type=Bandit
	extra_recruit=Thug, Ruffian
	canrecruit=yes

	[+modifications]
		{TRAIT_QUICK}
		{TRAIT_PREPARED}

		[object]
			[effect]
				apply_to=new_ability
				[abilities]
					{ABILITY_MECHANIC}
				[/abilities]
			[/effect]
		[/object]
	[/modifications]

	{WCHAR_LOYAL}
	{IS_HERO}

	[filter_recall]
		[filter_wml]
			[variables]
				recall_on_land=yes
			[/variables]
		[/filter_wml]
	[/filter_recall]
#enddef

#define BALUR_YOUNG
	id=Balur
	name=_ "Balur o' Knives"
	type=Thief
	extra_recruit=Ruffian
	canrecruit=yes

	[+modifications]
		{TRAIT_STRONG}
		{TRAIT_PREPARED}
	[/modifications]

	{WCHAR_LOYAL}
	{IS_HERO}

	[filter_recall]
		[not]
		[/not]
	[/filter_recall]
#enddef

#define BALUR
	id=Balur
	name=_ "Balur o' Knives"
	type=Rogue
	extra_recruit=Footpad
	canrecruit=yes

	[+modifications]
		{TRAIT_STRONG}
		{TRAIT_PREPARED}
	[/modifications]

	{WCHAR_LOYAL}
	{IS_HERO}

	[filter_recall]
		[filter_wml]
			[variables]
				recall_on_land=yes
			[/variables]
		[/filter_wml]
	[/filter_recall]
#enddef

#define LORD_BORS
	id=Lord Bors
	name=_ "Lord Bors"
	type=Royal Warrior

	[+modifications]
		{TRAIT_STRONG}
		{TRAIT_RESILIENT}
	[/modifications]
#enddef

#define BAYLWA
	id=Baylwa
	name= _ "Black-eyed Baylwa"
	type=Fugitive
	gender=female

	[+modifications]
		{TRAIT_QUICK}
		{TRAIT_INTELLIGENT}
	[/modifications]
#enddef

#undef CREATE_OR_RECALL
#define CREATE_OR_RECALL id def
	{CREATE_RECALL {id} {def}}

	[store_unit]
		variable=create_or_recall_leader
		[filter]
			side=1
			canrecruit=yes
		[/filter]
	[/store_unit]

	[unit]
		id={id}
		x,y=$create_or_recall_leader.x,$create_or_recall_leader.y
	[/unit]

	{CLEAR_VARIABLE create_or_recall_leader}
#enddef
