#define SHIP_MISS_FORTUNE
	type=TPT Pirate Galleon
	id=Miss Fortune
	name=_ "Miss Fortune"
	canrecruit=yes

	role=flagship

	extra_recruit=TPT War Boat

	[filter_recall]
		[filter_wml]
			[variables]
				ship="Miss Fortune"
			[/variables]
			[or]
				[not]
					[variables]
						glob_on_ship=*
					[/variables]
				[/not]
			[/or]
		[/filter_wml]
	[/filter_recall]
#enddef

#define JOHN
	id=John
	name=_ "John Carewell"
	type=Sergeant
	extra_recruit=Poacher, Ruffian
	canrecruit=yes

	[+modifications]
		{TRAIT_QUICK}
	[/modifications]

	{WCHAR_LOYAL}
	{IS_HERO}

	[filter_recall]
		[not]
		[/not]
	[/filter_recall]
#enddef

#define MARTIN
	id=Martin
	name=_ "Martin Tanner"
	type=Bandit
	extra_recruit=Thug, Ruffian
	canrecruit=yes

	[+modifications]
		{TRAIT_QUICK}
	[/modifications]

	{WCHAR_LOYAL}
	{IS_HERO}

	[filter_recall]
		[not]
		[/not]
	[/filter_recall]
#enddef

#define BALUR
	id=Balur
	name=_ "Balur o' Knives"
	type=Thief
	extra_recruit=Ruffian
	canrecruit=yes

	[+modifications]
		{TRAIT_STRONG}
	[/modifications]

	{WCHAR_LOYAL}
	{IS_HERO}

	[filter_recall]
		[not]
		[/not]
	[/filter_recall]
#enddef
